<a href="https://colab.research.google.com/github/melvionmatanos2008/mfmpython1/blob/main/mfm_pyton_project_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Analyzing dataset for COVID-19 Daily Counts of Cases, Hospitalizations, and Deaths

# Importing the required libraries.

In [8]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import re
import math
%matplotlib inline

In [13]:
import pandas_profiling as pp

In [79]:
df = pd.read_csv('https://data.cityofnewyork.us/resource/cwmx-mvra.csv')
print(df)

                extract_date  ... number_deaths
0    2021-06-20T00:00:00.000  ...             0
1    2021-06-20T00:00:00.000  ...            34
2    2021-06-20T00:00:00.000  ...            15
3    2021-06-20T00:00:00.000  ...             0
4    2021-06-20T00:00:00.000  ...            12
..                       ...  ...           ...
995  2021-06-19T00:00:00.000  ...            28
996  2021-06-19T00:00:00.000  ...            25
997  2021-06-19T00:00:00.000  ...            24
998  2021-06-19T00:00:00.000  ...           588
999  2021-06-19T00:00:00.000  ...           208

[1000 rows x 6 columns]

In [10]:
df

                extract_date  ... number_deaths
0    2021-06-20T00:00:00.000  ...           320
1    2021-06-20T00:00:00.000  ...             0
2    2021-06-20T00:00:00.000  ...            55
3    2021-06-20T00:00:00.000  ...            56
4    2021-06-20T00:00:00.000  ...            24
..                       ...  ...           ...
995  2021-06-19T00:00:00.000  ...            27
996  2021-06-19T00:00:00.000  ...            23
997  2021-06-19T00:00:00.000  ...             0
998  2021-06-19T00:00:00.000  ...            38
999  2021-06-19T00:00:00.000  ...            14

[1000 rows x 6 columns]

In [12]:
df.head(20)

              extract_date  ... number_deaths
0  2021-06-20T00:00:00.000  ...           320
1  2021-06-20T00:00:00.000  ...             0
2  2021-06-20T00:00:00.000  ...            55
3  2021-06-20T00:00:00.000  ...            56
4  2021-06-20T00:00:00.000  ...            24
5  2021-06-20T00:00:00.000  ...             9
6  2021-06-20T00:00:00.000  ...            31
7  2021-06-20T00:00:00.000  ...            50
8  2021-06-20T00:00:00.000  ...             2
9  2021-06-20T00:00:00.000  ...            38

[10 rows x 6 columns]

In [15]:
df.tail(10)

                extract_date  ... number_deaths
990  2021-06-19T00:00:00.000  ...            35
991  2021-06-19T00:00:00.000  ...             1
992  2021-06-19T00:00:00.000  ...             0
993  2021-06-19T00:00:00.000  ...            21
994  2021-06-19T00:00:00.000  ...            68
995  2021-06-19T00:00:00.000  ...            27
996  2021-06-19T00:00:00.000  ...            23
997  2021-06-19T00:00:00.000  ...             0
998  2021-06-19T00:00:00.000  ...            38
999  2021-06-19T00:00:00.000  ...            14

[10 rows x 6 columns]

In [35]:
df.dtype

number_deaths
0      int64
1      int64
2      int64
3      int64
4      int64
       ...
826    int64
831    int64
832    int64
854    int64
906    int64
Name: number_hospitalized, Length: 138, dtype: object

# This is the number of counts of COVID 19 cases, hospitalization and deaths.

In [18]:
df.count()

extract_date           1000
specimen_date          1000
number_tested          1000
number_confirmed       1000
number_hospitalized    1000
number_deaths          1000
dtype: int64

In [19]:
df.max()

extract_date           2021-06-20T00:00:00.000
specimen_date          2021-06-19T00:00:00.000
number_tested                            24521
number_confirmed                          6792
number_hospitalized                       1972
number_deaths                              906
dtype: object

In [20]:
df.mean()

number_tested          11360.820
number_confirmed        1504.209
number_hospitalized      210.386
number_deaths             64.602
dtype: float64

In [27]:
df.median()

number_tested          11375.0
number_confirmed        1387.5
number_hospitalized      137.0
number_deaths             26.0
dtype: float64

In [67]:
df.describe()

               count         mean        std  ...     50%      75%     max
number_deaths                                 ...
0              131.0     2.801527   5.385764  ...     0.0     2.00    29.0
1               32.0    16.718750   8.144796  ...    15.0    21.00    31.0
2                9.0    24.000000  14.585952  ...    28.0    29.00    42.0
3               10.0    24.700000  13.123770  ...    31.0    34.75    35.0
4                7.0    31.285714  17.641941  ...    19.0    46.00    55.0
...              ...          ...        ...  ...     ...      ...     ...
826              2.0  1742.000000   0.000000  ...  1742.0  1742.00  1742.0
831              1.0  1960.000000        NaN  ...  1960.0  1960.00  1960.0
832              1.0  1960.000000        NaN  ...  1960.0  1960.00  1960.0
854              2.0  1894.000000   0.000000  ...  1894.0  1894.00  1894.0
906              2.0  1972.000000   0.000000  ...  1972.0  1972.00  1972.0

[138 rows x 8 columns]

# Finding the missing values. The dataset is clean and there are no  issing values.

In [21]:
df.isnull().sum()

extract_date           0
specimen_date          0
number_tested          0
number_confirmed       0
number_hospitalized    0
number_deaths          0
dtype: int64

In [24]:
df.columns

Index(['extract_date', 'specimen_date', 'number_tested', 'number_confirmed',
       'number_hospitalized', 'number_deaths'],
      dtype='object')

In [26]:
df.nunique()

extract_date             2
specimen_date          524
number_tested          526
number_confirmed       517
number_hospitalized    260
number_deaths          138
dtype: int64

In [77]:
df.plot(kind="hist")

number_deaths
0      AxesSubplot(0.125,0.11;0.775x0.77)
1      AxesSubplot(0.125,0.11;0.775x0.77)
2      AxesSubplot(0.125,0.11;0.775x0.77)
3      AxesSubplot(0.125,0.11;0.775x0.77)
4      AxesSubplot(0.125,0.11;0.775x0.77)
                      ...
826    AxesSubplot(0.125,0.11;0.775x0.77)
831    AxesSubplot(0.125,0.11;0.775x0.77)
832    AxesSubplot(0.125,0.11;0.775x0.77)
854    AxesSubplot(0.125,0.11;0.775x0.77)
906    AxesSubplot(0.125,0.11;0.775x0.77)
Name: number_hospitalized, Length: 138, dtype: object

In [41]:
df.plot(kind="hist")

number_deaths
0      AxesSubplot(0.125,0.11;0.775x0.77)
1      AxesSubplot(0.125,0.11;0.775x0.77)
2      AxesSubplot(0.125,0.11;0.775x0.77)
3      AxesSubplot(0.125,0.11;0.775x0.77)
4      AxesSubplot(0.125,0.11;0.775x0.77)
                      ...
826    AxesSubplot(0.125,0.11;0.775x0.77)
831    AxesSubplot(0.125,0.11;0.775x0.77)
832    AxesSubplot(0.125,0.11;0.775x0.77)
854    AxesSubplot(0.125,0.11;0.775x0.77)
906    AxesSubplot(0.125,0.11;0.775x0.77)
Name: number_hospitalized, Length: 138, dtype: object

In [71]:
df.plot(kind='scatter, x = 'specimen_date', y = 'number_confirmed')

SyntaxError: ignored